@media screen and (max-width:428px) {
    
    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        border: 0;
        border-spacing: 0;
        font-family: 'Raleway', sans-serif;
    }

    body {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        line-height: 1;
        font-size: 15px;
        overflow-x: hidden;
    }

    .menu__list li {
        font-size: 10px;
        padding: 8px;
        float: left;
        flex-direction: column;
        border-left: 15px;
    }

    .faixa {
        width: 120px;
        height: 390vh;
        position: static;
    }

    .title__profile {
        margin-top: 135px;
        width: 100px;
        height:100px;
        margin-left: 10px;
    }

    .sobre{
        width: 70px;
        margin-left: 190px;
    }

    .title__bio {
        font-size: 15px;
        float: right;
        flex-direction: column;
        width: 400px;
        height: 150px;
        text-align: start;
        padding: 148px;
    }

    .about__title, .about__paragraph {
        text-align: center;
        width: 400px;
    }

    .title__subsection {
        font-size: 15px;
        float: right;
        flex-direction: column;
        border-left: 15px;
        width: 250px;
        text-align: start;
    }

    .title__network, .title__network__item {
        text-align: left;
        width: 100px;
        height:100px;
        margin-left: -157px;
        width: 350px;
    }

    .skills__line {
        flex-direction: column;
        align-items: center;
        padding: 25px;
        width: 260px;
    }

    .skills__title {
        text-align: center;
        width: 260px;
    }

    .skills__img, .skills__name {
        flex-direction: column;
        text-align: center;
        width: 260px;
    }

    .skills__box {
        padding: 15px;
    }

    .hobbies__title {
        padding-top: 50px;
        text-align: center;
        width: 260px;
    }

    .hobbies__line {
        flex-direction: column;
        text-align: center;
        width: 260px;
    }

    .hobbies__box {
        padding: 15px;
    }

    .academic__title {
        padding-left: 130px;
        width: 50px;
    }

    .academic__courses__box {
        padding-left: 130px;
        width: 350px;
    }

    .experience__section__title {
        padding-left: 130px;
        width: 50px;
    }

    .experience__repo, .experience__demo {
        padding: 10px;
    }

    .experience__title, .experience__text, .experience__description {
        padding-left: 80px;
        width: 450px;
    }

    .experience__img {
        width: 250px;
        height: 180px;
    }

    .formcontato__text {
        padding-left: 80px;
        width: 350px;
    }

    .formcontato__input {
        width: 300px;
    }

    .formcontato__textarea {
        width: 320px;
        height: 250px;
    }

    .formcontato__botao {
        border-top: 15px;
        margin: 25px;
        border: 1px solid rgb(42, 135, 87);
    }

    .footer__rodape {
        background-color: rgb(42, 135, 87);
        text-align: center;
    }
}